body {
    margin: 0;
    padding: 0;
    background: linear-gradient(83.21deg, #000000 0%, #2c2c2c 100%);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;;
    min-height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.skills {
    text-align: center;
    color: #fff;
    margin: 40px 0;
}

.carousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.carousel div {
    font-size: 24px;
    margin: 10px;
}

.ascii-art {
    font-family: 'Courier New', monospace;
    white-space: pre;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin: 20px auto; 
    animation: slide-up 1.5s ease-in-out forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(35%);
    }
    100% {
        transform: translateY(0);
    }
}

.purple {
    color: #800080;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #800080;
}

.projects-section {
    text-align: center;
    color: #fff;
    margin: 40px 0;
}

.projects-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    justify-content: center;
}

.project {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    flex: 0 0 auto;
    width: 200px;
    transition: transform 0.3s ease-in-out;
    animation: floatProject 3s infinite alternate;
}

.project h3 {
    margin-bottom: 10px;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #800080; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px; 
}

.project-link:hover {
    background-color: #007bff; 
}

@keyframes floatProject {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
}

@media only screen and (max-width: 600px) {
    .profile-container {
        gap: 10px;
    }

    .projects-grid {
        gap: 10px;
    }

    .project {
        width: 100%;
    }

    .carousel div {
        font-size: 18px;
    }
}
